<!DOCTYPE html>
<html lang="en">
  <head>
  <title>LeaderBoard|Home</title>
  </head>

  <body>
    <div class="jumbotron"><h1 style="text-decoration: aliceblue dashed ;color: purple;;text-align: center;">Hacker Premier League</h1></div>
    <button (click)="match()" class="btn btn-info">Begin Match</button>&nbsp;
    <select [(ngModel)]="selectedTeam" (change)="addToTable()">
      <option selected disabled>Choose here to add team to below table</option>
      <option *ngFor="let team of teams" [ngValue]="team">{{team.team_name}}</option>
  
  </select>
    <table class="table table-striped">
<caption></caption>
<thead>
  <tr>
<th id="" *ngIf=isMatch>Check</th>
<th id="">Position</th>
<th id="">Team Name</th>
<th id="">Wins</th>
<th id="">Losses</th>
<th id="">Ties</th>

<th id="">Score</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let team of selectedTeams ;let i = index">
  <td class="text-center" *ngIf=isMatch> 
    <input type="checkbox"  ngModel (ngModelChange)="changeHandler(team,$event)">
</td>
  <td>{{i+1}}</td>
  <td>{{team.team_name}}</td>
  <td>{{team.wins}}</td>
  <td>{{team.losses}}</td>
  <td>{{team.ties}}</td>

  <td>{{team.score}}</td>
</tr>
</tbody>
    </table>
    <div *ngIf=isMatch>
      <button *ngIf=checkWin (click)="playMatch()" class="btn btn-info">PlayMatch</button>
    </div>
    <div *ngIf=isPlayMatch>

      <div>
        {{checkedTeams[0].team_name}}&nbsp;<button class="btn btn-success" (click)="isWin(checkedTeams[0]._id,checkedTeams[1]._id)">WIN</button>
      </div>
      <div>
        &nbsp;<button (click)=tie() class="btn btn-warning">TIE</button>
      </div>
      <div>
        {{checkedTeams[1].team_name}}&nbsp;<button class="btn btn-success" (click)="isWin(checkedTeams[1]._id,checkedTeams[0]._id)">WIN</button>
      </div>

    </div>

   
  </body>

</html>